/* Cabeçalho */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.row {
    margin-right: 0%;
}

header nav ul {
    list-style: none; 
    display: flex;
}

header nav ul li {
    list-style: block;
}

header a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    color: rgb(1, 39, 30);
    margin-inline: 50px;
    margin-top: 30px;
}

header nav {
    display: flex;
    justify-content: space-around;
}

header {
    height: calc(100vh - 210px);
    background: no-repeat center/cover url(https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1506&q=80);
}

.header_content {
    text-align: center;
    animation: zoomIn;
    animation-duration: 2s;
    margin-top: 80px;
    color: rgb(1, 29, 26);
}

.logo{
    width: 130px;
}

.mapa_header {
    height: calc(100vh - 480px);
    background: no-repeat center/cover url(https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1506&q=80);
}

.mapa_header a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    color: rgb(1, 39, 30);
    margin-inline: 50px;
    margin-top: 30px;
}

.mapa_header nav {
    display: flex;
    justify-content: space-around;
}

.main h4 {
    justify-content: center;
    text-align: center;
    color: #225343;
    margin-top: 10px;
}


/* Corpo do site - cards*/

.container-fluid{
    padding: 0;
}

div.cards {
    display: flex;
    padding: 32px;
    justify-content: center;
}

div.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    max-height: 468px;
    margin-left: 32px;
}

div.cards section.card:first-child {
    margin-left: 0;
}

div.cards section.card .icon {
    width: 68px;
    height: 68px;
}

div.cards section.card img {
    width: 100%;
}

div.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

div.cards section.card p {
    font-weight: 500;
    max-width: 240px;
    font-size: 100%;
    margin-bottom: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

div.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: black;
    margin-bottom: 16px 0;
}

div.cards section.card.contact button {
    background: linear-gradient(to right, #275838, #cbffef);
}
div.cards section.card.shop button {
    background: linear-gradient(to right, #065823, #cbffef);
}
div.cards section.card.about button {
    background: linear-gradient(to right, #275838, #cbffef);
}

div.cards section.card.contact {
    box-shadow: 20px 20px 50px -30px #37574f;
}
div.cards section.card.shop {
    box-shadow: 20px 20px 50px -30px #37574f;
}
div.cards section.card.about {
    box-shadow: 20px 20px 50px -30px #37574f;
}

.alert-warning {
    background-color: rgb(3, 56, 36);
    color: white;
}

/* Card Lixeiras */

.card{
    margin-left: 45px;
}

.btn {
    background-color: rgb(11, 68, 44);
    border-color: rgb(87, 223, 60);
    color: white;
}

/* Mapa */
#map {
    width: 100vh;
    height: 100%;
  }

.mapa {
    margin-top: 15px;
}

/* Frequentemente descartados */

.frequentemente_descartados h4{
    text-align: center;
    font-size: 40px;
    color: #225343;
}

.fd-content {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

.fd-list-item {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;

    justify-items: start;
    align-items: center;
}

.fd-list-item > img {
    justify-self: end;

    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;

    width: 200px;
    height: 200px;
}

.fd-list-item > p {
    align-self: end;
    
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}

.fd-list-item > button {
    align-self: start;

    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}

/* Slick */
.slick-prev:before {
    color: grey;
}

.slick-next:before {
    color: grey;
}

/* Rodapé */

.footer{
    background: no-repeat center/cover url(https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1506&q=80);
}

.footer_area{
    padding: 20px;
    text-align: center;
}

/* Responsividade */

/* Tablet */
@media only screen and (max-width: 768px) {

}

/* Mobile */
@media only screen and (max-width: 480px) {
    header {
        height: calc(100vh - 55px);
    }
}

/* Desktop */
@media only screen and (-width: 992px) {

}

/* Huge */
@media only screen and (min-width: 1280px) {

}

/* Media cards */

@media screen and (max-width: 720px) {
    div.cards {
        flex-direction: column;
    }

    div.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    div.cards section.card:last-child {
        margin-bottom: 0;
    }

    div.cards section.card button {
        font-size: 70%;
    }

}