@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* resetando todos os padroes do navegador */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* padroes do body */
body {
    background: #bfe9d5;
    color: black;
    font-weight: 500; /*um pouco mais negrito que o normal*/
    display: flex;
    min-height: 100vh; /*100vh ou 100vw significa 100% de altura e largura em relação a viewport*/
    min-width: 100vw;
}

/* padroes do main */
main {
    width: 50vw; /*metade da tela*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* titulo do main - Criar conta*/
main h1 {
    color: #000000;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

/* campos do cadastro - layout */
main form {
    display: flex; /*um embaixo do outro*/
    flex-direction: column; /*um embaixo do outro*/
    align-items: center;
}

main form label {
    display: flex;
    flex-direction: column;
}

main form label span {
    font-size: 1.1rem;
    margin-top: 2rem;
}

/* campos de preenchimento */
main form input {
    background: #193f32;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    /* margin-top: 1rem; */
    outline: none;
    color: white;
    font-size: 1rem;
    border: 1px solid #040B18;
    border-radius: 8px;
}

/* botao sing up */
main form input[type="submit"] {
    cursor: pointer; /*trocar a seta por uma mãozinha ao passar pelo botão*/
    width: 120px;
    /* width: 50px; */
    /* margin-top: 4rem; */
    margin-left: 5px;
    border: none;
    border-radius: 32px;
    background: #000000;
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
}

main form input[type="submit"]:hover {
    background: #193f32;
}

.login-actions {
    margin-top: 50px;
}

.login-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

section.images {
    width: 50vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 4rem;
    margin-bottom: 90px;
}

section.images img {
    width: 100%;
}

.grid{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    section.images img{
        width: 250%;
        margin-bottom: 150px;
        margin-left: 700px;
    }

    main{
        width: 100vw;
    }
}

@media only screen and (max-width: 900px) {
    section.images {
        display: none;
        visibility: hidden;
    }

    main {
        width: 100vw;
    }
}

@media only screen and (max-width: 450px) {
    main h1 {
        font-size: 2rem;
    }

    main form label span, main form input[type="submit"] {
        font-size: 1rem;
    }
}