/* Cabeçalho */

.header{
    background-color: rgb(185, 238, 206);
    margin-bottom: 20px;
    text-align: center;
}

.logo{
    width: 150px;
}
.localizacao img{

    width: 10px;
}
.menu_area{
    margin-top: 40px;
}

.menu_area nav{
    background-color: #7eb69c;
}

.menu_area nav a{
    color:white;
}

.menu_area nav:hover{
    background-color: #225343;
}

.activee{
    background-color: #225343 !important;
}

/* Corpo do site */

.main{
    margin-bottom: 20px;
}

/* Card Importancia */

.card{
    margin-top: 30px;
    border-radius: 20px;
    border-color: teal;
    margin-right: 70px;
}

.card_importancia{

}

.card_importancia h5{
    text-align: center;
    color: #085f42;
}

.card_importancia p{
    text-align: center;
    font-size: 19px;
}

.card-body{
    /* background-color:#daf6e1; */
    border-radius: 20px;
}

/* Boas Vindas */
.card_bem_vindo{

}
.card_bem_vindo h5{
    text-align: center;
    color: #085f42;
}

.card_bem_vindo p{
    text-align: center;
    font-size: 19px;
}

.card-body{
    /* background-color:#daf6e1; */
    border-radius: 20px;
}

/* Pontos de coleta */

.segunda_pag{
    border-radius: 20px;
    margin-left: 10px;
}

.botao_area{
    margin-top: 100px;
}

.botao_area nav a{
    color:white;
    padding: 20px;
    font-size: 20px;
}

/* Carousel */

.carousell{
    margin-top: 20px;
}

.carousel-inner{
    border-radius: 20px;
    margin-left: 10px;
}

/* Card Lixeiras */

.card{
    margin-left: 45px;
}

/* Rodapé */

.footer{
    background-color:rgb(185, 238, 206);
}

.footer_area{
    padding: 20px;
    text-align: center;
}

/* Mapa */
.mapa > iframe {
    width: 100%;
    height: 40vh;
}

/* Frequentemente descartados */
.fd-content {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

.fd-list-item {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;

    justify-items: start;
    align-items: center;
}

.fd-list-item > img {
    justify-self: end;

    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;

    width: 200px;
    height: 200px;
}

.fd-list-item > p {
    align-self: end;
    
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}

.fd-list-item > button {
    align-self: start;

    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;

    /* padding: 10px; */
}

/* Slick */
.slick-prev:before {
    color: black;
  }
  .slick-next:before {
    color: black;
  }

/* .slick-prev, .slick-next{ background:blue;} */