/* Mobile first */

/* Define Css Variables */
:root {
    --main-padding-sides: 20px;
    --main-padding-vertical: 20px;
    --main-margin: 10px;
}

/* General Styles */
body {
    font-family: 'Roboto Condensed', sans-serif;
}

.my-container {
    display: grid;
    grid-template-rows: 2fr 20fr 1fr;
    width: 100vw;
    height: 100vh;
    justify-items: end;
}

.my-header {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    padding-left: var(--main-padding-sides);
    padding-right: var(--main-padding-sides);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-header-options {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.my-header-options span {
    cursor: pointer;
}

.my-footer {
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
    padding-left: var(--main-padding-sides);
    padding-right: var(--main-padding-sides);
    font-size: small;
    display: flex;
    justify-items: center;
    align-items: center;
}

.my-main-content {
    width: 100%;
    height: 100%;
    padding-left: var(--main-padding-sides);
    padding-right: var(--main-padding-sides);
    padding-bottom: var(--main-padding-vertical);
    padding-top: var(--main-padding-vertical);
    overflow-y: scroll;
}

.map-area {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-rows: 8fr 1fr;
    margin-bottom: var(--main-margin);
}

.map {
    background: repeating-linear-gradient(-55deg, #222, #222 10px, #333 10px, #333 20px);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.map-filter {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    justify-items: center;
    align-items: center;
    /* border: 1px solid black; */
}

.often-discarted {
    width: 100%;
    height: 40%;
    /* border: 1px solid red; */
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.often-discarted span {
    font-size: x-large;
}

.often-discarted-area {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-items: center;
    align-items: center;
}

.often-discarted-list {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.often-discarted-list li img {
    width: 50px;
    height: 50px;
}

.often-discarted-list li:not(.often-discarted-list-item-invisible) {
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    align-items: center;
}

.often-discarted-list li {
    transition: all 1.5s ease;
}

.often-discarted-list li span {
    font-size: large;
}

.often-discarted-list-item-invisible {
    display: none;
}

/* Styles utils */
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.my-clickable-icons {
    transition: transform .2s;
}

.my-selectable-items {
    transition: transform .2s;
}

/* Media Queries */
@media only screen and (min-width: 1024px) {
    :root {
        --main-padding-sides: 25%;
        --main-margin: 10px;
    }

    /* Zoom on hover only on bigger screens */
    .my-clickable-icons:hover {
        transform: scale(2);
    }

    .my-selectable-items:hover {
        transform: scale(1.2);
    }
}